extends ../common/common

block content
	h1
		span Users
		a.btn.btn-primary.ml-3(href="/users/create") new

	form.form-inline.float-right(action="/users/search" method="get")
		input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp')
		button.btn.btn-primary.ml-2(type='button') Search
	
	table.table
		thead
			tr
				th(scope= 'col') Name
				th(scope= 'col') Phone
				th(scope = 'col') Actions
		tbody
			each user in users
				tr
					td= user.name
					td= user.phone
					td 
						a(href= '/users/' + user.id) View